<p id="notice"><%= notice %></p>

<h1>Portfolio items</h1>

<%= link_to 'Create Portfolio', new_portfolio_path %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>

<%= link_to 'Create Portfolio', new_portfolio_path %>