@import "bootstrap";
@import "gritter";
@import "cover";
@import "pages";

.top a {
    color: brown;
}

/*
  Custom styles
 */

.card-block {
  color: black;
  text-align: left;
}

.auth-link a {
  color: black;
}

.auth-link-right {
  text-align: right;
}

.login > .card {
  width: 32rem;
  margin: 0 auto;
  float: none;
}

.app-nav span {
  margin-right: 15px;
}