@import "bootstrap";
@import "gritter";
@import "cover";
@import "pages";

* {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.top a {
    color: brown;
}

/*
  Custom styles
 */

.card-block {
  color: black;
  text-align: left;
}

.application-inner {
  height: 100%;
  margin-top: 125px;
  margin-bottom: 125px;
  overflow: scroll;
}

.auth-link a {
  color: black;
}

.auth-link-right {
  text-align: right;
}

.login > .card {
  width: 32rem;
  margin: 0 auto;
  float: none;
}

.app-nav span {
  margin-right: 15px;
}

.tech-news {
  color: black;
  margin: 20px;

  a {
    color: green;
  }

  >.card {
    padding: 30px;
  }
}